$headerorange: #ff7e40;
$lightorange: #ffcc99;
$darkblue: #041c48;
$linkblue: #4380ee;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Lato;
	font-size: 18px;
	line-height: 24px;
}

a {
	color: #4380ee;
}

h1 {
	line-height: 1.1em;
}

.error {
	@apply text-red-500;
	@apply font-bold;
}

.mycontainer {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'nav'
		'footer';

	& > header {
		grid-area: header;
	}

	& > nav {
		grid-area: nav;
	}

	& > main {
		grid-area: main;
	}

	& > footer {
		grid-area: footer;
	}
}

.border-debug {
	@apply border border-red-500 border-solid;
}

hr.orange {
	width: 75%;
	height: 6px;
	border: 1px $headerorange solid;
	background: $headerorange;
}

.bg-lightorange {
	background: $lightorange;
}
.bg-headerorange {
	background: $headerorange;
}

@media screen and (width >= 1024px) {
	.mycontainer {
		grid-template-columns: auto 4fr;
		grid-template-areas:
			'header header'
			'nav main'
			'footer footer';
	}
}

//@tailwind base;
@tailwind components;
@tailwind utilities;

@import './lib/css/forms.scss';
